{{define "title"}}Home Sweet Home{{end}}

{{define "main"}}
    <h2>Latest Snippets</h2>
    <p>There's nothing to see here yet!</p>
{{end}}

{{define "first-snippet"}} <h3><a href='/snippet/view?id=1'>First snippet?</a></h3>{{end}}
