{{define "sb"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
    </head>
    <body>
        <header>
            <h1><a href='/'>Home</a></h1>

        </header>
        <main>
            <h2>What about second breakfast?<h2>
            <h2>Elevenses?</h2>
            <h3>Luncheon?</h3>
        </main>
    </body>
</html>
{{end}}